# Loading the COVID-19 Dataset
Loads the [Open humdata COVID-19 dataset](https://data.humdata.org/dataset/novel-coronavirus-2019-ncov-cases) 
[Google APIs](https://storage.googleapis.com/covid19-open-data/v2/latest/main.csv).

In [2]:
import pandas as pd

# Loading URL with pandas prevents reading of records with key "NA" (Namibia) as NaN
data = pd.read_csv(
    "https://storage.googleapis.com/covid19-open-data/v2/latest/main.csv",
    keep_default_na=False,
    na_values=[""],
)

# NOTE: Latest downloads the last day of data, but you can download all by removing it.

# Print a part dataset
print(f"The dataset currently contains {len(data)} records, here is a sample:")
data.sample(5)

The dataset currently contains 22049 records, here is a sample:

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

               key        date  ...  dew_point relative_humidity
16364  PE_ANC_1301  2021-02-10  ...  19.031746         80.420139
9278   ES_CT_12087  2021-02-10  ...   7.388889         74.873040
19501  US_IN_18083  2021-02-10  ...  -8.722222         74.716054
7062   CO_05_05380  2021-02-10  ...  18.155556         78.155355
18876  US_CA_06081  2021-02-10  ...   6.357143         68.890601

[5 rows x 110 columns]

To filter only country-level data from the dataset, look for records that have a `aggregation_level == 0` or, alternatively, null value for the `subregion1_code` (or `subregion1_name`) field:

In [3]:
# Look for rows with country level data
# Same as `data[data.subregion2_code.isna()]`
countries = data[data.aggregation_level == 0]

# Drop the subregion-level columns
countries = countries.drop(columns=['subregion1_code', 'subregion1_name', 'subregion2_code', 'subregion2_name'])

countries.tail()

      key        date wikidata  ... snowfall  dew_point relative_humidity
21983  YE  2021-02-10     Q805  ...      NaN  -0.055556         20.776269
21984  YT  2021-02-10   Q17063  ...      NaN  23.805556         81.805715
21985  ZA  2021-02-10     Q258  ...      NaN  15.951389         64.409527
22047  ZM  2021-02-10     Q953  ...      NaN  18.277778         85.029479
22048  ZW  2021-02-10     Q954  ...      NaN  12.222222         84.373404

[5 rows x 106 columns]

To filter state/province data for a specific country, we need to look for records where the aggregation level is `1` (or where the region columns have non-null values). Below is an extraction of data related to Spain's subregions from the dataset:

In [5]:
# Filter records that have the right country code AND a non-null region code
# Same as `data[(data.country_code == 'ES') & ~(data.subregion`_code.isna())]`
spain_regions = data[(data.country_code == 'ES') & (data.aggregation_level == 1)]

# Drop municipality-level columns
spain_regions = spain_regions.drop(columns=['subregion2_code', 'subregion2_name'])

spain_regions.tail()

         key        date wikidata  ... snowfall dew_point relative_humidity
10178  ES_ML  2021-02-10    Q5831  ...      NaN  7.788889         68.145239
10179  ES_NC  2021-02-10    Q4018  ...    15.24  7.694444         91.511012
10180  ES_PV  2021-02-10    Q3995  ...    15.24  6.783951         88.937546
10181  ES_RI  2021-02-10    Q5727  ...    20.32  6.205556         88.959289
10182  ES_VC  2021-02-10    Q5720  ...    64.77  6.092593         65.163537

[5 rows x 108 columns]

Below is a `key` column built using `country_code` for country-level data, `${country_code}_${subregion1_code}` for province/state level data, and `${country_code}_${subregion1_code}_${subregion2_code}` for municipality/county data:

In [ ]:
# Filter records for Spain at the country-level
spain_country = data[data.key == 'ES']

# Drop the subregion-level columns
spain_country = spain_country.drop(columns=['subregion1_code', 'subregion1_name', 'subregion2_code', 'subregion2_name'])

spain_country.tail()

In [ ]:
# Filter records for Madrid, one of the subregions of Spain
madrid = data[data.key == 'ES_MD']

madrid.tail()

In [4]:
# Load the epidemiology table
epi = pd.read_csv('https://storage.googleapis.com/covid19-open-data/v2/epidemiology.csv')

# Filter records for Madrid, one of the subregions of Spain
madrid = epi[epi.key == 'ES_MD']

madrid.tail()

               date    key  ...  total_recovered  total_tested
4727632  2021-01-31  ES_MD  ...              NaN           NaN
4742759  2021-02-01  ES_MD  ...              NaN           NaN
4757890  2021-02-02  ES_MD  ...              NaN           NaN
4773332  2021-02-03  ES_MD  ...              NaN           NaN
4788453  2021-02-04  ES_MD  ...              NaN           NaN

[5 rows x 10 columns]